@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Libertinus+Math&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 197px;
}

.container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    margin-top: -1rem;
}

.container #p1 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -1rem;
    color: #333;
    font-size: 9px;
}

.container #p2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    color: #333;
    font-size: 9px;
}

.container #p3 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    color: #333;
    font-size: 9px;
}
.container #p5 {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    color: #333;
    font-size: 9px;
}

.container input {
    width: 100%;
    padding: 2%;
    margin-bottom: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.6rem;
}

.container button {
    width: 100%;
    padding: 4px;
    background-color: #12184b;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #0c0f27;
}

#p3 {
    text-align: center;
    margin-top: 1rem;
}

#p2 a {
    color: #667eea;
    text-decoration: none;
}

#p2  a:hover {
    text-decoration: underline;
}
#p3 a {
    color: #667eea;
    text-decoration: none;
}
#p3  a:hover {
    text-decoration: underline;
}